.quotes-main-container{
    padding: 64px;
}

.quotes-display-container{
    height: 55vh;
}

ul {
    list-style: none;
    padding: 0;
  }
  
li {
    border: 5px solid rgb(226, 230, 234);
    border-radius: 5px;
    margin-bottom: 10px; 
    padding: 10px; 
  }